/***** DESKTOP STYLING *****/

body {
    font-family: 'Arimo',
    sans-serif;
    font-family: 'Open Sans',
    sans-serif;
    font-size: 1.2em;
    margin: 0;
    padding: 0;
    text-align: center;
    min-height: 100vh;
    color: white;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto;
}


body > div:nth-of-type(1) {
    grid-column: 1 / span 8;
    background-color: #212121;
}

body>div:nth-of-type(2) {
    grid-column: 1 / span 2;
}

body>div:nth-of-type(3) {
    grid-column: 3 / span 2;
    background-color: #6495ed;
}

body>div:nth-of-type(4) {
    grid-column: 5/ span 2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
    gap: 5px;
    background-color: #ed6476;
    padding: 10px 0;
    box-sizing: border-box;
}

body>div:nth-of-type(4) > div {
    height: 50px;
    width: 50%;
    background-color: #f5f5f5;
    color: darkslategray;
    border-radius: 10px;
    box-sizing: border-box;
}

body>div:nth-of-type(2),
body>div:nth-of-type(5) {
    grid-row: 2 / span 4;
    background-color: #187377;
}

body>div:nth-of-type(5) {
    grid-column: 7 / span 2;
}

body>div:nth-of-type(6) {
    grid-column: 3 / span 1;
    grid-row: 3 / span 3;
    margin-left: 10px;
}

body>div:nth-of-type(9) {
    grid-column: 6/ span 1;
    grid-row: 3 / span 3;
    margin-right: 10px;
}

body>div:nth-of-type(6){
    background-color: #fdc93c;
}

body>div:nth-of-type(9) {
    background-color: darkslategrey;
}


body>div:nth-of-type(7),
body>div:nth-of-type(8),
body>div:nth-of-type(10) {
grid-column: 4 / 6;
}

body>div:nth-of-type(7) {
background-color: #778899;
}

body>div:nth-of-type(8) {
    background-color: #56626d;
}

body>div:nth-of-type(10) {
    background-color: #000;
}

body>div:nth-of-type(6),
body>div:nth-of-type(7),
body>div:nth-of-type(9) {
    margin-top: 10px;
}

body>div:nth-of-type(6),
body>div:nth-of-type(10),
body>div:nth-of-type(9) {
    margin-bottom: 10px;
}

/***** TABLET STYLING *****/

@media only screen and (max-width: 768px) {

    body>div:nth-of-type(2),
    body>div:nth-of-type(5) {
        display: none;
    }


    body>div:nth-of-type(3),
    body>div:nth-of-type(4) {
        grid-column: 2 / span 6;
        
    }

    body>div:nth-of-type(3) {
        grid-row: 2 / span 3;
    }

    body>div:nth-of-type(4) {
        grid-row: 5 / span 3;
    }

    body>div:nth-of-type(6) {
        grid-row: 8 / span 3;
        grid-column: 2 / span 3;
        margin: 0;
    }

    body>div:nth-of-type(7),
    body>div:nth-of-type(8),
    body>div:nth-of-type(10) {
        grid-column: 5 / span 3;
        margin: 0;
    }

    body>div:nth-of-type(9) {
        grid-row: 11 / span 4;
        grid-column: 2 / span 6;
        margin: 0;
        
    }

}

/***** MOBILE STYLING *****/

@media only screen and (max-width: 480px) {

    body>div:nth-of-type(1),
    body>div:nth-of-type(2),
    body>div:nth-of-type(3),
    body>div:nth-of-type(4),
    body>div:nth-of-type(5),
    body>div:nth-of-type(6),
    body>div:nth-of-type(7),
    body>div:nth-of-type(8),
    body>div:nth-of-type(9),
    body>div:nth-of-type(10) {
        grid-column: 1 / span 8;
    }

    body>div:nth-of-type(7) {
        grid-row: 11 / span 1;
    }

    body>div:nth-of-type(8) {
        grid-row: 12 / span 1;
    }

    body>div:nth-of-type(10) {
        grid-row: 13 / span 1;
    }

    body>div:nth-of-type(9) {
        grid-row: 14 / span 3;
    }

}